body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh; // Make body full height of viewport
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center;     // Center vertically
    font-family: "Open Sans", sans-serif;

    #calculator {
        width: 400px;
        height: 600px;
        border: 1px solid rgba(0, 0, 0, 0.253);
        background-color: #E9E3DF;
        display: flex;
        margin: auto;
        border-radius: 20px;
        align-self: center;
        z-index: 0;
        justify-content: flex-start;
        flex-direction: column;

        #display-name-container {
            display: flex;
            flex-direction: column;
            width: 95%;
            margin: 0 auto;

            // border: 1px solid green;

            #name {
                // margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 0px;
                display: flex;
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                color: #89A8B2;
                padding-left: 5px;
            }
            #display-container {
                width: 100%;
                background-color: #454545;
                border-radius: 10px;

                #display {
                    width: 90%;
                    height: 120px;
                    background-color: #282828;
                    z-index: 1;
                    // margin-top: 38px;
                    border-radius: 10px;
                    // border: 1px solid white;
                    display: flex;
                    align-items: flex-end; // Push h1 to bottom
                    margin: 0 auto;
                    // border-left: 10px solid #454545;

                    h1 {
                        font-family: "Bitcount Single", system-ui;
                        font-weight: 250;
                        color: rgb(102, 255, 102);
                        // border: 1px solid yellow;
                        display: flex;
                        width: 100%;
                        flex-flow: row wrap;
                        align-items: flex-end;
                        justify-content: flex-end;
                        margin: 0;
                        padding: 0 5px;
                        height: 100%;
                        overflow-wrap: break-word;   // ensure long words break
                        word-break: break-word;      // fallback
                    }
                }
            }
        }

        #characters {
            width: 95%;
            // border: 2px solid red;
            height: 370px;
            margin: auto;
            padding: 2px;
            display: grid;
            grid-template: repeat(5, 1fr) / repeat(5, 1fr);
            gap: 3px;

            .keys {
                border: 1px solid rgba(0, 0, 0, 0.141);
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                h1 {
                    font-size: 30px;
                    // border: 1px solid yellow;
                    margin: 0;
                    text-align: center;
                }
            }

            .number {
                background-color: #B3C8CF;
                // z-index: 1;
            }

            .action {
                background-color: #F1F0E8;
            }

            #multiply {
                h1 {
                    // border: 1px solid yellow;
                    padding-top: 5px;
                }
            }

            .memory {
                background-color: #F1F0E8;

                h1 {
                    font-size: 25px;
                }
            }

            .symbol {
                background-color: #E5E1DA;
            }

            .clear {
                background-color: #89A8B2;

                h1 {
                    font-size: 25px;
                }
            }

            #backspace {
                background-color: #E5E1DA;
            }
        }
    }
}

